{% extends 'base2.html' %}

{% block content %}

<div class="container">
<div class="row">
	
	<div class="col-sm-12 col-12">

		<!-- Card start -->
		<div class="card">
			<div class="card-header">
				<div class="card-title">Approve Reservation</div>
			</div>
			<div class="card-body">
				<form method="POST" action="" validate>
					{%csrf_token%}

				<!-- Row start -->
				<div class="row">
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputName" class="form-label">Name</label>
							<input value="{{ get_booking.name }}" type="text" class="form-control" id="inputName" placeholder="Enter Name" readonly>
						</div>
					</div>
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputEmail" class="form-label">Email</label>
							<input value="{{ get_booking.email }}" type="email" class="form-control" id="inputEmail" placeholder="Enter Email" readonly>
						</div>
					</div>
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputNumber" class="form-label">Phone</label>
							<input value="{{ user.profile.contact }}" type="number" class="form-control" id="inputNumber" placeholder="Enter Phone Number" readonly>
						</div>
					</div>
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputNumber" class="form-label">Table</label>
							<select placeholder='select table' name="table" id="time" class="form-control" >
		                      {% for table in tables %}
		                    <option value="{{ table.id }}">
		                        {{ table.name }} 
		                        
		                    </option>
		                      {% endfor %}
		                    </select readonly required>
		                 </div>
					</div>
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputNumber" class="form-label">Guests</label>
							<input value="{{ get_booking.guests }}" name="guests" type="number" class="form-control" id="inputNumber" placeholder='Number of guests' readonly>
						</div>
					</div>
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputCompanyName" class="form-label">Date</label>
							<input value="{{ get_booking.date }}" name="date" type="date" class="form-control" id="inputCompanyName"
								placeholder="Date" readonly>
						</div>
					</div>
					<div class="col-xl-3 col-sm-4 col-12">
						<div class="mb-3">
							<label for="inputCompanyName" class="form-label">Time</label>
							<input name="time" type="time" value="{{ get_booking.time}}" class="form-control" id="inputCompanyName"
								placeholder="Time" readonly>
						</div>
					</div>
					
					<div class="col-sm-6 col-12">
						<div class="mb-3">
							<label for="inputMessage" class="form-label">Message</label>
							<textarea name="message" class="form-control" id="inputMessage" placeholder="Enter Message" readonly 
								rows="3">{{ get_booking.message }}</textarea>
						</div>
					</div>
				</div>
				<!-- Row end -->

				<!-- Form actions footer start -->
				<div class="form-actions-footer">
					<button class="btn btn-light">Cancel</button>
					<button type="Submit" class="btn btn-success">Approve</button>
				</div>

				</form>
				<!-- Form actions footer end -->

			</div>
		</div>
		<!-- Card end -->
</div>
	</div>
</div>

{% endblock %}